<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


  <% if tutor_signed_in? %>
  <h2>testing tutor</h2>
    <%= button_to "sign out", destroy_tutor_session_path, method: :delete, data: { turbo_method: :delete} %>
    <%= link_to "edit registration", edit_tutor_registration_path %>
  <% elsif !user_signed_in? %>
  <h2>testing tutor</h2>
    <%= link_to "sign in", tutor_session_path %>
    <%= link_to "sign up", new_tutor_registration_path %>
    <%= link_to "log in", new_tutor_session_path %>
  <% end %>

  <% if user_signed_in? %>
  <h2>testing user</h2>
    <%= button_to "sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete} %>
    <%= link_to "edit registration", edit_user_registration_path %>
  <% elsif !tutor_signed_in? %>
  <h2>testing user</h2>
    <%= link_to "log in", new_user_session_path %>
    <%= link_to "sign in", user_session_path %>
    <%= link_to "sign up", new_user_registration_path %>
  <% end %>
